@page "/"

<PageTitle>Web App</PageTitle>

<center><h1>Microsoft Azure Fundamentals (COP4492) - Project 2</h1></center>

<p>This application provides users advanced functionalities for processing images and returning information. After uploading an image, Microsoft Azure Computer Vision which is one of Azure Cognitive Services analyzes this image based on inputs (images) and user choices (Analyze Image or Image to Text).</p>